body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section#messages {
    width: 50%;
    text-align: center;
    margin: 10px auto;
    padding: 1em 2em;
    border-radius: 10px;
    font-weight: 500;
}

#messages.addSucces {
    color: #4CAF50;
    border: #4CAF50 4px solid;
    border-color: #4CAF50;
}

#messages.addFail {
    color: #f44336;
    border: #f44336 4px solid;
    border-color: #f44336;
}

section#pokemonList {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

section#team {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

    margin-top: 2em;
}

#team div {
    text-align: center;
}

div.pokemonItem {
    width: 25%;
    padding: 2% 1%;
    box-sizing: border-box;
}

img.pokemonImg {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
}

p.pokemonNr {
    font-size: 10pt;
    font-weight: 500;
    margin: 0;
    color: grey;
}

p.pokemonName {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.4em 0;
}

.pokemonTypes {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.pokemonTypes p {
    width: 40%;
    margin: 0 2%;
    padding: 0.2em 0.2em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 15px;
}

.addBtn {
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: rgba(128, 128, 128, 0.2);
    color: #000000;
    font-family: sans-serif;
    font-size: 0.95rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

.grass {
    background-color: #71C558;
}

.poison {
    background-color: #B468B7;
}

.fire {
    background-color: #EA7A3C;
}

.flying {
    background-color: #7DA6DE;
}

.water {
    background-color: #539AE2;
}

.bug {
    background-color: #94BC4A;
}

.normal {
    background-color: #AAB09F;
}

.electric {
    background-color: #E5C531;
}

.ground {
    background-color: #CC9F4F;
}

.fairy {
    background-color: #E397D1;
}

.fighting {
    background-color: #CB5F48;
}

.psychic {
    background-color: #E5709B;
}

.rock {
    background-color: #B2A061;
}

.steel {
    background-color: #89A1B0;
}

.ice {
    background-color: #70CBD4;
}

.ghost {
    background-color: #846AB6;
}

.dragon {
    background-color: #6A7BAF;
}