* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

#navigation {
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    width: 100%;
}

#navigation>ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

#navigation>ul>li {
    display: inline-block;
    font-weight: 200;
    text-transform: uppercase;

    cursor: pointer;
}

#navigation>ul>li:nth-child(2) {
    margin: 0 40px;
}


section#loginSection {

    height: 100vh;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(138, 43, 226, 0.8);
}

#loginForm {
    background-color: white;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
}

#loginForm input[type="text"],
#loginForm input[type="email"],
#loginForm select {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 20px 0 6px;
    display: inline-block;
    width: 80%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

section#profileSection {
    height: 100vh;
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(138, 43, 226, 0.8);
}

#userCard {
    background-color: white;
    width: 60%;
    height: 80vh;

    padding: 20px 5%;

    border-radius: 12px;

    display: flex;
    flex-direction: row;

}

#avatarUser {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#infoUser {
    margin-left: 50px;
}

section#leaderboardSection {
    min-height: 100vh;

    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(138, 43, 226, 0.8);
}

#leaderboardCard {
    background-color: white;
    width: 60%;
    min-height: 80vh;

    padding: 20px 5%;

    border-radius: 12px;

}

#leaderboardCard h1 {
    display: inline-block;
    width: 100%;
}

#leaderboardList {
    display: grid;
}

.leaderboardElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
}

.leaderboardElement img {
    width: 20%;
}

.leaderboardElement p {
    display: inline;
    align-self: center;
}